.form_block{
  width: 100%;
  height: auto;
  margin: 3%;
}
.form{
  grid-area: f;
  padding: 10px 10px 40px 10px;
  width: 300px;
  height: auto;
  margin: auto;
}
/* buttons */

.form_block_buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    margin: auto;
}
.form_buttons {
  margin: 5px auto;
  color: #ffffff;
  background-color: #000000;
  width: 200px;
  height: 35px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
.tips{
  font-family: 'Viga', sans-serif;
}
.input_list{
  font-family: 'Concert One', cursive;
}
.input_field{
  outline: none;
  width: 300px;
  height: 35px;
  margin: auto;
  display: block;
  border-radius: 3px;
}
.header_h1{
  width: 40%;
  margin: auto;
  text-align: center;
}
.sex{
  width: 300px;
  height: 35px;
  display: flex;
}
.sex_block{
  width: 33%;
  margin: 0;
  text-align: center;
}