/* Futer */
.SendingForm{
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
}
.SendWindow{
    display: block;
    border-radius: 3px;
}
.buttons {
    display: flex;
    justify-content: center;
    color: #ffffff;
    background-color: #000000;
    width: 200px;
    height: 35px;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
}